@model UrlChecker.Web.Models.TargetApp

@{
    ViewData["Title"] = "Details";
}

<h3>Details</h3>

<div>
    <h5>TargetApp</h5>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interval)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
